In [1]:
import pandas as pd
import numpy as np

In [15]:
movies = pd.read_excel(r'E:\learning\dataVisulization\homeworks\hw7\movies.xlsx')
actor = pd.read_excel(r'E:\learning\dataVisulization\homeworks\hw7\actor.xlsx')
director = pd.read_excel(r'E:\learning\dataVisulization\homeworks\hw7\directors.xlsx')
metadata = pd.read_csv(r'E:\learning\dataVisulization\homeworks\hw7\movie_metadata.csv')
dir_mov = pd.read_excel(r'E:\learning\dataVisulization\homeworks\hw7\DirMov.xlsx')
act_mov = pd.read_excel(r'E:\learning\dataVisulization\homeworks\hw7\ActMov.xlsx')

In [16]:
actor = actor.drop_duplicates()
actor.to_excel('nactor.xlsx')

director = director.drop_duplicates()
director.to_excel('ndirector.xlsx')

In [17]:
def correction(genre):
    output = genre.split('|')
    return output[0]
          
movies['genres'] = movies['genres'].apply(correction) 
movies
# movies.to_excel('movies.xlsx')

,id,movie_title,duration,genres,title_year,imdb_score
0,0,Avatarآ,178.0,Action,2009.0,7.9
1,1,Pirates of the Caribbean: At World's Endآ,169.0,Action,2007.0,7.1
2,2,Spectreآ,148.0,Action,2015.0,6.8
3,3,The Dark Knight Risesآ,164.0,Action,2012.0,8.5
4,4,Star Wars: Episode VII - The Force Awakensآ ...,NaN,Documentary,NaN,7.1
5,5,John Carterآ,132.0,Action,2012.0,6.6
6,6,Spider-Man 3آ,156.0,Action,2007.0,6.2
7,7,Tangledآ,100.0,Adventure,2010.0,7.8
8,8,Avengers: Age of Ultronآ,141.0,Action,2015.0,7.5
9,9,Harry Potter and the Half-Blood Princeآ,153.0,Adventure,2009.0,7.5
10,10,Batman v Superman: Dawn of Justiceآ,183.0,Action,2016.0,6.9
11,11,Superman Returnsآ,169.0,Action,2006.0,6.1
12,12,Quantum of Solaceآ,106.0,Action,2008.0,6.7
13,13,Pirates of the Caribbean: Dead Man's Chestآ,151.0,Action,2006.0,7.3
14,14,The Lone Rangerآ,150.0,Action,2013.0,6.5
15,15,Man of Steelآ,143.0,Action,2013.0,7.2
16,16,The Chronicles of Narnia: Prince Caspianآ,150.0,Action,2008.0,6.6
17,17,The Avengersآ,173.0,Action,2012.0,8.1
18,18,Pirates of the Caribbean: On Stranger Tidesآ,136.0,Action,2011.0,6.7
19,19,Men in Black 3آ,106.0,Action,2012.0,6.8
20,20,The Hobbit: The Battle of the Five Armiesآ,164.0,Adventure,2014.0,7.5
21,21,The Amazing Spider-Manآ,153.0,Action,2012.0,7.0
22,22,Robin Hoodآ,156.0,Action,2010.0,6.7
23,23,The Hobbit: The Desolation of Smaugآ,186.0,Adventure,2013.0,7.9
24,24,The Golden Compassآ,113.0,Adventure,2007.0,6.1
25,25,King Kongآ,201.0,Action,2005.0,7.2
26,26,Titanicآ,194.0,Drama,1997.0,7.7
27,27,Captain America: Civil Warآ,147.0,Action,2016.0,8.2
28,28,Battleshipآ,131.0,Action,2012.0,5.9
29,29,Jurassic Worldآ,124.0,Action,2015.0,7.0
...,...,...,...,...,...,...
5013,5013,Manitoآ,79.0,Drama,2002.0,7.0
5014,5014,Rampageآ,80.0,Action,2009.0,6.3
5015,5015,Slackerآ,100.0,Comedy,1991.0,7.1
5016,5016,Dutch Killsآ,90.0,Crime,2015.0,4.8
5017,5017,Dry Spellآ,90.0,Comedy,2013.0,3.3
5018,5018,Flywheelآ,120.0,Drama,2003.0,6.9
5019,5019,Exeterآ,91.0,Horror,2015.0,4.6
5020,5020,The Ridgesآ,143.0,Drama,2011.0,3.0
5021,5021,The Puffy Chairآ,85.0,Comedy,2005.0,6.6
5022,5022,Stories of Our Livesآ,60.0,Drama,2014.0,7.4
5023,5023,Breaking Upwardsآ,88.0,Romance,2009.0,6.2
5024,5024,All Superheroes Must Dieآ,78.0,Sci-Fi,2011.0,4.0
5025,5025,Pink Flamingosآ,108.0,Comedy,1972.0,6.1
5026,5026,Cleanآ,110.0,Drama,2004.0,6.9
5027,5027,The Circleآ,90.0,Drama,2000.0,7.5
5028,5028,Tin Can Manآ,83.0,Horror,2007.0,6.7
5029,5029,The Cureآ,111.0,Crime,1997.0,7.4
5030,5030,On the Downlowآ,84.0,Drama,2004.0,6.1
5031,5031,Sanctuary; Quite a Conundrumآ,82.0,Comedy,2012.0,5.4
5032,5032,Bangآ,98.0,Crime,1995.0,6.4
5033,5033,Primerآ,77.0,Drama,2004.0,7.0
5034,5034,Caviteآ,80.0,Thriller,2005.0,6.3
5035,5035,El Mariachiآ,81.0,Action,1992.0,6.9
5036,5036,The Mongol Kingآ,84.0,Crime,2005.0,7.8
5037,5037,Newlywedsآ,95.0,Comedy,2011.0,6.4
5038,5038,Signed Sealed Deliveredآ,87.0,Comedy,2013.0,7.7
5039,5039,The Followingآ,43.0,Crime,NaN,7.5
5040,5040,A Plague So Pleasantآ,76.0,Drama,2013.0,6.3
5041,5041,Shanghai Callingآ,100.0,Comedy,2012.0,6.3
5042,5042,My Date with Drewآ,90.0,Documentary,2004.0,6.6

In [18]:
for id_ac,row_act in actor.iterrows():
    for id_meta,row_mata in metadata.iterrows():
        if row_act['actor_name'] == row_mata['actor_1_name']:
            act_mov = act_mov.append({'actor_id': id_ac,'movie_id': row_mata['id']}, ignore_index=True)

act_mov

     actor_id movie_id
0           0        0
1           0      306
2           0     2112
3           0     2960
4           1        1
5           1       13
6           1       14
7           1       18
8           1       33
9           1      106
10          1      118
11          1      134
12          1      181
13          1      205
14          1      289
15          1      305
16          1      343
17          1      807
18          1      905
19          1      945
20          1     1096
21          1     1240
22          1     1354
23          1     1420
24          1     1436
25          1     1449
26          1     1519
27          1     1629
28          1     1642
29          1     1753
...       ...      ...
4931     4995     5002
4932     4997     5004
4933     4998     5005
4934     4998     5010
4935     4999     5006
4936     5002     5009
4937     5004     5011
4938     5006     5013
4939     5008     5015
4940     5009     5016
4941     5010     5017
4942     5011     5018
4943     5012     5019
4944     5013     5020
4945     5015     5022
4946     5016     5023
4947     5017     5024
4948     5018     5025
4949     5019     5026
4950     5020     5027
4951     5021     5028
4952     5023     5030
4953     5024     5031
4954     5026     5033
4955     5027     5034
4956     5028     5035
4957     5029     5036
4958     5032     5039
4959     5033     5040
4960     5035     5042

[4961 rows x 2 columns]

In [19]:
act_mov.to_excel('act_mov.xlsx')

In [20]:
for id_dir,row_dir in director.iterrows():
    for id_meta,row_mata in metadata.iterrows():
        if row_dir['director_name'] == row_mata['director_name']:
            dir_mov = dir_mov.append({'director_id': id_dir,'movie_id': row_mata['id']}, ignore_index=True)

dir_mov

     director_id movie_id
0              0        0
1              0       26
2              0      288
3              0      291
4              0      606
5              0     2486
6              0     3575
7              1        1
8              1       13
9              1       14
10             1      181
11             1      205
12             1     1219
13             1     2278
14             2        2
15             2       30
16             2      457
17             2      574
18             2     1114
19             2     2144
20             2     2606
21             2     3493
22             3        3
23             3       66
24             3       96
25             3       97
26             3      120
27             3     1066
28             3     1233
29             3     3716
...          ...      ...
4793        4895     4998
4794        4896     4999
4795        4897     5000
4796        4897     5017
4797        4899     5002
4798        4900     5003
4799        4901     5004
4800        4902     5005
4801        4902     5010
4802        4903     5006
4803        4906     5009
4804        4910     5013
4805        4913     5016
4806        4916     5019
4807        4917     5020
4808        4919     5022
4809        4920     5023
4810        4921     5024
4811        4924     5027
4812        4925     5028
4813        4926     5029
4814        4927     5030
4815        4928     5031
4816        4929     5032
4817        4930     5033
4818        4931     5034
4819        4933     5036
4820        4935     5038
4821        4936     5040
4822        4937     5041

[4823 rows x 2 columns]

In [21]:
dir_mov.to_excel('dir_mov.xlsx')